:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/*navbar*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    padding: 0 10px;
}

/*hero section*/

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}


.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    width: 350px;
    border-radius: 50%;
}

/*SECCION2 HABILIDADES*/

.seccion-habilidades {
    padding: 0 50px;
    margin-bottom: 100px;
}

.seccion-habilidades h2 {
    text-align: center;
    font-size: 35px;
}

.seccion-habilidades .text {
    text-align: center;
    margin-bottom: 20px;
}

.seccion-habilidades .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.seccion-habilidades .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    padding:10px 20px;
    margin: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.seccion-habilidades .cells .cell img {
    width: 50px;
    height: 50px;
}

.seccion-habilidades .cells .cell span {
    font-size: 18px;
}

/*seccion 3:testimonio*/

.seccion-testimonio {
    padding: 0 50px;
    margin-bottom: 100px;
}

.seccion-testimonio h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.seccion-testimonio .group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.seccion-testimonio .group .person-details {
    text-align: center;
    flex: 2;
}

.seccion-testimonio .group .person-details img {
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50px;
    
}


.seccion-testimonio .group .person-details p {
    font-weight: 600;
}

.seccion-testimonio .group .person-details p:last-child {
    font-weight: normal;
}

.seccion-testimonio .group .person-details p {
    font-style: oblique;
}

.seccion-testimonio .group .text {
    flex: 8;
}
    
/*section4 contact*/
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .1s;
}

.contact-section .group form button:hover {
    filter: brightness(.9);
}





@media (max-width: 850px) {
    /*hero section1*/
    .hero-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {
    /*hero section1*/
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img {
    width: 300px;
   }

/*seccion 3:testimonio*/

   .seccion-testimonio {
    text-align: center;
    }

   .seccion-testimonio .group {
    flex-direction: column;
   }
    /*section4 contact*/
  .contact-section .group {
   flex-direction: column;   
   }

  .hero-section .headshot img {
    width: 300px;
   }

}



/*navbar*/
@media (max-width: 600px) {
    nav {
        padding: 0 20px;
    }
    nav .left a span {
        display: none;
    }

    /*section1 hero*/
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    /*SECCION2 HABILIDADES*/
    .seccion-habilidades {
        padding: 0 20px;
    }

   .seccion-habilidades .cells .cell span {
       font-size: 16px;
    }

      /*section3 testimonio*/  
      .seccion-testimonio {
        padding: 0 20px;
      }

      /*section4 contact*/
  .contact-section {
      padding: 20px;   
   }
}
